.titulo-centralizado{
  text-align: center;
}

.titulo-principal{
  padding-left: 30px;
}

.principal{
  background-color:lightslategray;
  padding: 30px;
}

p{
  text-align: center;
}

#missao{
  font-size: 20px;
}

em strong{
  color: gold;
}

#banner{
  width: 100%;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

#beneficios{
  width: 50%;
}

.item {
  style: italic;
}